:root {
--primary-blue:#4287F5;
--second-blue:#C5D4EB;
--third-blue:#2657A3;
--gold:#A47552;
--white: #ffffff;
--turquise :#73b7ff;
}

@font-face {
    font-family: raleway;
    src: url(../libs/Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

body{
    background-color: var(--white);
    font-family: raleway;
}

header, footer{
    background-color: var(--third-blue);
    color: white;
}
.bgimage{
    /* content: ""; */
    background-image: url('../img/IMG_20210308_173120.jpg');   
    background-color: var(--third-blue);
    background-size: cover;
    min-height: 300px;
    background-repeat: no-repeat;
    opacity: 0.25;
    display: block;
    color: var(--third-blue);
}
h4{
color: var(--gold);
border-bottom: 2px solid var(--gold);

}
h2,h3 ,span{
    color:var(--white);
}

#work{
    background-color: var(--second-blue);
}
.card img{
    max-height: 175px;
}
.profile-picture{
    width: 150px;
    height: 150px;
}
.bgblue{
    background-color: var(--third-blue);
    color: white;
}
.bgwhite{
    background-color: var(--white);
}

.card-text{
    font-size: 12px;
}

.about-text{
    font-size: 14px;
}

.skelly{

    background-image: url('../img/skelly.jpg');
    background-repeat: no-repeat;
    background-position: center; 
}
/* Flip things start */
.flip {
    -webkit-perspective: 800;   
            perspective: 800;
          position: relative;
          text-align: center;
  }
  .flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
  }
  .flip .card {
      width: 270px;
      height: 175px;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.5s;
      transform-style: preserve-3d;
      transition: 0.5s;
      background-color: #fff;
     
  }
  .flip .card .face {
    -webkit-backface-visibility: hidden ;
      backface-visibility: hidden ;
     z-index: 2;
  }
  .flip .card .front {
     position: absolute;
     width: 270px;
     z-index: 1;
  }
  .flip .card .front img{
    width: 270px;
    height: 100%;
  }
  .flip .card .img {
     position: relaitve;
     width: 270px;
     height: 178px;
     z-index: 1;
     border: 2px solid #000;
  }
  .flip .card .back {
    background-image: none;
    padding-top: 10%;
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
    position: absolute;
  }
  .inner{
    margin:0px !important;
    width: 270px;
  }
/* Flip things ends */
